<span class="card-form-li">
<li>
<form class="form new-card" data-list-id="<%= list.id %>">
<div id="form-group">
<label>
<input id="card-title" type="text" name="card[title]" class="form-control" autofocus="autofocus">
</label>
</div>
</li>

<input type="hidden" name="card[list_id]" value="<%= list.id %>">
<div>
<input id='newCard' type="submit" class="btn btn-success" value="Add">
<button data-id="<%= list.id %>" class="btn btn-default close btn-sm hide-card-form"><span class="glyphicon glyphicon-remove"></span></button>

</div>
</form>
<span>