
<form id="newBoard" class="form">

<div class="form-group">
<label>Title:
<input type="text" name="board[title]" class="form-control" autofocus="autofocus">
</label>
</div>

<button class="btn btn-success">Create Board</button>
</form>