<div class="container skinny">
  <div class="row">
    
    <div class="col-sm-6 col-auth">
      <h1>Sign Up</h1>
      
      <form action="<%= users_url %>" method="POST" class='form'>
      	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group">
        	<label for="email">Email
          	<input id="email" type="text" name="user[email]" class="form-control">
          </label>
        </div>

        <div class="form-group">
        	<label for="password">Password
          	<input id="password" type="password" name="user[password]" class="form-control">
          </label>
        </div>
        
      	<input type='submit' value='Sign Up' class="btn btn-default">
      </form>


      <br>
      <a href="<%= new_session_url %>">Back to Login</a>
    </div>
  </div>
</div>